@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.all-container {
    display: flex;
    flex-direction: column;
    align-items: center; // Centra el contenido horizontalmente
    justify-content: center; // Centra el contenido verticalmente
    padding: 60px;
    max-width: 100%;

}

.image-container {
    cursor: pointer; 
    margin-bottom: 20px; 

    img {
        max-width: 100%;
        width: 650px;
        height: 350px;
        border-radius: 10px;
        box-shadow: 0px 2px 23px -6px rgba(0,0,0,0.72);
    }

    &:hover img {
        transform: scale(1.01);
    }
}

.text-container {
    max-width: 100%;
    width: 650px;
    height: 350px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
        font-family: 'Roboto', sans-serif;
        background-color: #007bff; // Color de fondo del botón
        color: white; // Color del texto del botón
        border: none; // Sin borde
        border-radius: 5px; // Bordes redondeados
        padding: 10px 25px; // Espaciado interno
        cursor: pointer; // Cambia el cursor al pasar sobre el botón
        font-weight:bold;
    
    }

    p {
        margin-top: 10px; // Espaciado superior
        font-weight: bold; // Texto en negrita
        text-align: justify;
    }
}
